{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Interfaces</title>
    <link href="{% static "administration/bootstrap/css/bootstrap.css" %}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Login</h3>
  </div>
  <div class="panel-body">
    <h5>POST</h5>
    <a href="/service/login/">http://pelocano.herokuapp.com/service/login/</a> </br>
    <span class="label label-default">Mensagem:</span> </br>
{
    "username": "",
    "password": ""
}

       </br><span class="label label-default">Resultado:</span> </br>
{
    "success": true
}

ou

{
    "msg": "username and password do not match!!",
    "success": false
}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Registrar Jogador</h3>
  </div>
  <div class="panel-body">
    <h5>POST</h5>
    <a href="/service/user_registration/">http://pelocano.herokuapp.com/service/user_registration/</a>
    </br>
    </br>
    <span class="label label-default">Mensagem:</span> </br>
{
    "username": "",
    "email": "",
    "password": "",
    "name": "",
    "schooling": "",
    "gender": "",
    "age": 0
}
      </br>
      <span class="label label-default">Resultado:</span>
      </br>
{
    "success": true
}
  </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Jogadores</h3>
  </div>
  <div class="panel-body">
     <h5>Somente para testar o registro de jogador!</h5>
     <a href="/service/players/">http://pelocano.herokuapp.com/service/players/</a>
  </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Obter Area para desenhar mapa!</h3>
  </div>
  <div class="panel-body">
    <h5>GET</h5>
    <a href="/service/get_area/">http://pelocano.herokuapp.com/service/get_area/</a> </br>
    <span class="label label-default">Mensagem:</span> </br>
       </br><span class="label label-default">Resultado:</span> </br>
{
    "area:": [
        [
            3,
            3,
            7
        ],
        [
            18,
            15,
            2
        ],
        [
            12,
            8,
            5
        ],
        [
            13,
            1,
            3
        ],
        [
            2,
            15,
            4
        ],
        [
            7,
            12,
            3
        ]
    ]
}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Obter Comparações de Cromossomos(Jogadas)</h3>
  </div>
  <div class="panel-body">
    <h5>GET</h5>
    <a href="/service/get_plays/">http://pelocano.herokuapp.com/service/get_plays/username/</a> </br>
    <span class="label label-default">Mensagem:</span> </br>

    </br><span class="label label-default">Resultado:</span> </br>


  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Enviar Resultado das Jogadas</h3>
  </div>
  <div class="panel-body">
    <h5>POST</h5>
    <a href="/service/send_result/">http://pelocano.herokuapp.com/service/send_result/</a> </br>
    <span class="label label-default">Mensagem:</span> </br>
{
    "username": "pablo",
    "result": "[1,0,1,0,1]"
}  #0 primeiro cenário, 1 segundo segundo cenário


       </br><span class="label label-default">Resultado:</span> </br>
{
    "success": true
}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pode Jogar!</h3>
  </div>
  <div class="panel-body">
    <h5>GET</h5>
    <a href="/service/ready_to_play/">http://pelocano.herokuapp.com/service/ready_to_play/</a> </br>
    <span class="label label-default">Mensagem:</span> </br>

    </br><span class="label label-default">Resultado:</span> </br>
Retorna o nivel do jogo que está disponível para ser jogado!
</br>
{
    "levelReadyToPlay:": 1
}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pode Jogar!</h3>
  </div>
  <div class="panel-body">
    <h5>GET</h5>
    <a href="/service/ready_to_play_fake/">http://pelocano.herokuapp.com/service/ready_to_play_fake/</a> </br>
    <span class="label label-default">Mensagem:</span> </br>

    </br><span class="label label-default">Resultado:</span> </br>
Retorna o nivel do jogo que está disponível para ser jogado!
</br>
{
    "levelReadyToPlay:": 1
}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Iniciar Experimento!</h3>
  </div>
  <div class="panel-body">
    <h5>GET</h5>
    <a href="/service/start_experiment/">http://pelocano.herokuapp.com/service/start_experiment/</a> </br>
    <span class="label label-default">Mensagem:</span> </br>

    </br><span class="label label-default">Resultado:</span> </br>
</br>
{
    "experiment_id:": 1
}
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static "administration/bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>