{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="{% static "administration/bootstrap/css/bootstrap.css" %}" rel="stylesheet"/>
</head>
<body>
<h3>Pelocano! <span class="label label-default">New</span></h3>
<object width="400" height="400" data="/static/administration/IC-Novo/Jogo-V1.swf"></object>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static "administration/bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>